@using MeCommerce.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MeCommerce, Oliver Slade</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr.css")
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    @Scripts.Render("~/Scripts/toastr.js")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <main class="cd-main-content">
        <div class="navbar">
            <div class="nav-box">
                <div class="navbar-header">
                    <a class="hamburger">
                        <div class="navIcon">
                            <div class="naviconUpper"></div>
                            <div class="innerNavicon"></div>
                            <div class="naviconLower"></div>
                        </div>
                    </a>
                    <a href='@Url.Action("Index", "Home")'>
                        <img id="logo" class="logo" src="~/Icons/logo.png" />
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-text-style" id="navbar">
                    <li>@Html.ActionLink("Browse All", "Index", "Product")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                    <li>@Html.ActionLink("Brands", "Index", "Brand")</li>
                    <li>@Html.ActionLink("Phones", "Details", new { controller = "Category", id = 1 })</li>
                    <li>@Html.ActionLink("Tables", "Details", new { controller = "Category", id = 1 })</li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>
                @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                {
                    <div class="text-center">
                        <div>
                            <input type="text" id="term" name="term" class="form-control" style="display: initial; max-width: 16%;" placeholder="Enter Search Term" />
                            <input type="submit" id="search-button" class="button-style text-center" value="Search" />
                        </div>
                    </div>
                }
                <div id="carticon" class="navbar-nav nav navbar-right" style="margin-top: -40px; float: right !important; margin-right: 0;">
                    <img class="cart-icon" src="~/Icons/cart.svg">
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MeCommerce, Oliver Slade</p>
            </footer>
        </div>
    </main>

    <div class="cd-panel from-left cd-acc">
        <header class="cd-panel-header">
            @Html.Partial("_LoginPartial")
            <a class="cd-panel-close">Close</a>
        </header>

        <div class="cd-panel-container">
            <div class=" cd-panel-content">
                @if (Request.IsAuthenticated)
                {
                    <ul class="navbar-nav nav auth-style">
                        <li>@Html.ActionLink("View Browsing History", "Index", "BrowsingHistory", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
                        <li>@Html.ActionLink("View Order History", "OrderHistory", "Order", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
                    </ul>
    <br />
    <br />
                }
                else
                {
                    <div id="default">
                        <h3>My Store</h3>
                        <hr />
                        <h5>Sign in or Register to manage your account.</h5>
                    </div>
                }

                <hr/>

                <ul class="auth-style" id="side-nav">
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Browse All", "Index", "Product")</li>
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Categories", "Index", "Category")</li>
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Brands", "Index", "Brand")</li>
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Phones", "Details", new { controller = "Category", id = 1 })</li>
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Tables", "Details", new { controller = "Category", id = 1 })</li>
                    <li style="display: block; margin-top: 15px;">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="cd-panel from-right cd-basket">
        <header id="basket-panel" class="cd-panel-header">
            <h3 class="text-center basket-header">Basket</h3>
            <a class="cd-panel-close">Close</a>
        </header>

        <div id="basket-panel" class="cd-panel-container">
            <div class="cd-panel-content">

                @if (MeCommerce.Chaching.CacheManager.Exists("Basket"))
                {
                    var basket = MeCommerce.Chaching.CacheManager.Get<ShoppingCartViewModel>("Basket");
                    decimal totalPrice = 0;
                    totalPrice = basket.ShoppingCartItems.Aggregate(totalPrice, (current, i) => current + (decimal)i.Product.Price * i.Quantity / 100);

                    <h4 class="text-center">Total price: £@totalPrice</h4>
                    <br />

                    @Html.ActionLink("Go To Checkout", "Index", "Order", null, new { @class = "button-style", style = "text-align: center; margin-left: 37%; text-decoration: none;" })
                    <br />
                    <br />

                    @Html.Partial("~/Views/Order/_basketItems.cshtml", basket.ShoppingCartItems)

                    @Html.ActionLink("Clear Basket", "ClearBasket", "Order", null, new { @class = "button-style", style = "text-align: right; margin-left: 39%; text-decoration: none;" })
                }
                else
                {
                    <h4 class="text-center">Your basket is empty :(</h4>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        jQuery(document).ready(function ($) {
            $('.hamburger').on('click', function (event) {
                event.preventDefault();
                $('.cd-acc').addClass('is-visible');
            });

            $('.cart-icon').on('click', function (event) {
                event.preventDefault();
                $('.cd-basket').addClass('is-visible');
            });

            $('.cd-panel').on('click', function (event) {
                if ($(event.target).is('.cd-panel') || $(event.target).is('.cd-panel-close')) {
                    $('.cd-panel').removeClass('is-visible');
                    event.preventDefault();
                }
            });
        });
    </script>

    @if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            DisplayToastError('@(TempData["Error"])');
            function DisplayToastError(message) {
                toastr.error(message);
            }
        </script>
    }
    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            DisplayToastSuccess('@(TempData["Success"])');
            function DisplayToastSuccess(message, title) {
                toastr.success(message, title);
            }
        </script>
    }
</body>
</html>