@model MeCommerce.ViewModels.ProductViewModel

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h2 class="text-center">
        @Html.DisplayFor(model => model.Name)
    </h2>

    <br />

    <div style="text-align: center"><img src="@Url.Content(Model.ImagePath)" alt=@Model.Name style="width:70%;"></div>

    <h5 class="text-center">
        @Html.DisplayNameFor(model => model.Sku):

        @Html.DisplayFor(model => model.Sku)
    </h5>

    <h4 class="text-center">
        Description
    </h4>

    <p class="text-center">
        @Html.DisplayFor(model => model.ShortDescription)
    </p>

    <p class="text-center">
        @Html.DisplayFor(model => model.LongDescription)
    </p>

    <h4 class="text-center">
        £@Html.DisplayFor(model => model.Price)
    </h4>
    <br />
</div>

<p class="text-center">
    @Html.ActionLink("Add to Basket", "AddProductToBasket", "Order", new { productId = Model.Id, quantity = 1 }, new { @class = "button-style" })
</p>

<hr />

<p class="text-center">
    @Html.ActionLink("See more " + Model.Category.Name, "Details", "Category", new {id = Model.Category.Id}, new {@class = "button-style"})
</p>
<p class="text-center" style="margin-top: 20px">
    @Html.ActionLink("See more " + Model.Brand.Name + " Products", "Details", "Brand", new { id = Model.Brand.Id }, new { @class = "button-style" })
</p>